.sobremi{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.sobremi-contenedor{
  width: 70%;
  color: white;
  /* background-color: rgba(0, 0, 0, 0.87); */
  /* padding: 15px;
  border-radius: 20px; */

}
.sobremi-titulo{
  margin-bottom: 20px;
  font-size: 33px;
}
.sobremi-p{
  padding: 5px 0;
  font-size: 20px;
  text-align: justify;
}
.sobremi-firma{
  font-family: 'Great Vibes', cursive;
  font-size: 28px; 
  margin: 10px 0;
}
@media (max-width:1000px) {
  .sobremi{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
}
@media(max-width:480px){
  .sobremi{
    min-height: 100vh;
    padding-top: 25px;
    padding-bottom: 15px;
  }
  .sobremi-contenedor{
    width: 90%;
    border-radius: 18px;
    padding: 10px;
  }
}